<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.board.BoardDao">
	
	<select id="list" resultType="map">
		SELECT /* com.board.BoardDao.list */
			SEQ
			, TITLE
			, WRITER
			, DATE_FORMAT(CREATED, '%y-%m-%d %H:%i') AS CREATED
			, HIT
		FROM 
			BOARD
	</select>
	
	<select id="sample" resultType="map">
		SELECT /* com.board.BoardDao.sample */
		       *
		  FROM BOARD
		 ORDER BY SEQ DESC
	</select>

</mapper>


